* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	padding: 20px 40px;
	display: flex;
	justify-content: center;
}

.App {
}

.game {
	min-height: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.game-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	box-shadow: #000 0px 1px 5px 0px;
	/* border: 2px solid rgb(81, 79, 79); */
	border-radius: 10px;
}
.game-info .game-info_item {
	display: block;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
}

.board {
	margin: 20px;
	/* width: 300px; */
	/* height: 300px; */
	/* border: 1px solid rgb(11, 90, 23); */
	/* box-shadow: rgb(11, 90, 23) 0px 2px 20px 2px; */
	box-shadow: rgb(79, 8, 115) 0px 2px 20px 2px;
	border-radius: 5px;

}

.board-row {
	display: flex;
}

.board_field {
	width: 20px;
	height: 20px;
	/* border: 1px solid #ccc; */
	border: 1px solid rgb(157, 161, 214);
	border-radius: 5px;
	background-color: transparent;
}

.board_field.board_field__filled {
	background-color: rgb(19, 129, 14);
	background-color: rgb(79, 8, 115);

	/* box-shadow: rgb(19, 129, 14) 0px 5px 35px 5px; */
	box-shadow: rgb(79, 8, 115) 0px 5px 35px 5px;

	/* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.board_field.board_field__gift {
	background-color: rgb(51, 198, 37);
	/* background-color: red; */

	/* box-shadow: rgb(19, 129, 14) 0px 5px 35px 5px; */
	/* box-shadow: rgb(44, 215, 29) 0px 5px 35px 15px; */
	box-shadow: rgb(51, 198, 37) 0px 5px 35px 15px;
	/* box-shadow: red 0px 5px 35px 15px; */
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	padding: 20px 10px;
	width: 300px;
	height: 120px;
	background-color: #eee;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.modal .modal_content {
	font-size: 25px;
}
.modal .modal_content .modal_content-text {
	font-weight: bold;
}
.modal .modal_button {
	width: 80px;
	height: 30px;
	margin-left: 10px;

	border: none;
	border-radius: 5px;
	background-color: rgb(94, 9, 155);

	color: #fff;
	font-size: 14px;
	font-weight: bold;
	outline: none;
}